@import "tailwindcss";

@layer base {
  html {
    scroll-behavior: smooth;
  }
  body {
    background-color: #18181b; /* bg-zinc-900 */
    color: #fff; /* text-white */
    background-size: 200% 200%;
    background-image: linear-gradient(
      to bottom right,
      #111827,
      #18181b,
      #000
    ); 
    animation: gradient-bg 8s ease infinite; /* animate-gradient-bg */
  }
}
